@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans+TC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Press Start K';
        font-weight: 400;
        src: url('../src/fonts/prstartk.ttf') format("ttf");
    }
    
    html, body, label {
        font-family: 'JetBrains Mono','Noto Sans TC', monospace;
      }

      input:checked + div {
        @apply border-gameboy;
      }
      input:checked + div i {
        @apply block;
      }
    
}